
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <title>Socks Shop With Vue 3</title>

      <!-- Import Styles -->
      <link rel="stylesheet" href="./assets/styles.css" />

      <!-- Import Vue.js -->
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   </head>
   <body>
      <div id="app">
         <!-- NAV AND CLOSING DIV TAG IS ON SAME ROW -->
         <div class="nav-bar"></div>

         <!-- l6 cart-->
         <div class="cart">Cart({{ cart }})</div>

         <!-- Adding this lot in lesson 2 - Attribute Binding in Vue 3-->
         <div class="product-display">
            <div class="product-container">
               <!-- We will render one of the images from the assets/images directory below in the "product-image", we navigate to the data property in main.js to add it  -->
               <div class="product-image">
                  <!-- image goes here below -->
                 
                  <img v-bind:src="image"
                  :class="{ 'out-of-stock-img' : !inStock }">
                  <!-- how do we bind src to image? -> v-bind:src="image" - 💡this is the v-bind directive - we created a bond between the attribute "image" & the data itself inside it in the app-->
                 
               </div>

                  <div class="product-info">
                     <!-- SWITCH OUT THE HEADER TEXT FOR PRODUCT VALUE: {{ this syntax allows you to run valid Javascript within the HTML }} -->
                     <!-- EXAMPLE: <p> {{ firstName + ' ' + lastName}} </p> -->
                     <!-- EXAMPLE 2: <span> {{ clicked ? true : false }} </span> -->
                     <!--EXAMPLE 3: <div> {{ message.method() }} </div> -->
                     <h1> {{ product }} </h1>

                     <!-- 4- Conditional Rendering - we add the below <p> and want to give them a condition where 1 shows up, we head to app to make property-->
                    <!-- <p v-show="inStock">In Stock</p> -->  <!-- v-if it is in stock - show 'in stock'-->  <!-- can be achieved with v-show as well -->
                    <!--<p v-else>Out of Stock</p> -->  <!-- or else show 'out of stock'-->
                    
         
                      <h2 v-if="inStock">In stock!</h2>
                      
                      
                      <ul>
                        <!-- for each detail (array index) in details (array) print out each {{ detail }} from the array and render them in order  -->
                        <li v-for="detail in details"> {{ detail }} </li>
                      </ul>

                      <!-- you can call on their properties-->
                      <div v-for="variant in variants"
                      :key="variant.id" 
                      @mouseover="updateImage(variant.image)"
                      class="color-circle"
                      :style="{ backgroundColor: variant.color }"> 
                      </div>
                      

                      <!-- button added in L6 -->
                      <button
                      class="button"
                      :class="{ disabledButton: !inStock }"
                      :disabled="!inStock"  
                      v-on:click="addToCart">
                      Add to Cart
                     </button>   

            </div>
         </div>
      </div>
   </div>
      
      <!-- Import APP -->
      <script src="./main.js"></script>

      <!-- MOUNT APP to DOM by attaching it to the div id="app" above-->
      <script>
         const mountedApp = app.mount('#app')
      </script>

   </body>
</html>